@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img style="align-content:center" src="~/images/GadevangLogo.jpg" height="170px" width="100%" />

<div class="text-center">
    <h1 class="display-4">Welcome @Model.CurrentBruger.Brugernavn</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>