@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img src="~/images/GadevangLogo.jpg" height="160px" width="100%" />

<div class="text-center">
    <h1 class="display-4">Velkommen @Model.CurrentBruger.Brugernavn</h1>
    <p></p>
</div>